.btn-menu {
  width: 3rem;
  /* height: 1rem; */
  /* border-radius: 2px; */
  background-color: #daff8f;
  /*-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
     */
  /* -webkit-border-radius: 2px; */
}
   
                         